if SHIELD_SPARKLITE_LEFT

config ZMK_KEYBOARD_NAME
	default "Sparklite"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SPARKLITE_LEFT || SHIELD_SPARKLITE_RIGHT

config ZMK_SPLIT
	default y

endif
