/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MKP     3
#define MSL     4

/ {
        behaviors {
                tsl_cus: behavior_trackball_scroll_cus {
                        compatible = "zmk,behavior-point-device-incremental";
                        label = "TRACKBALL_SCROLL_CUS";
                        #trackball-binding-cells = <0>;
                        mode = "scroll-mode";
                        flavor = "default";
                        scale_mode = "dividor";
                        scale_factor = <10>;
                };
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
   &bt BT_CLR   &out OUT_TOG      &trans         &kp B
   &mkp LCLK    &mkp RCLK         &trans         &trans
                        >;
                        trackball-bindings = <&tmv>;
                };
                lower_layer {
                        bindings = <
   &trans         &trans          &trans         &trans
   &trans         &trans          &trans         &trans
                        >;
                        trackball-bindings = <&tsl_cus>;
                };
                raise_layer {
                        bindings = <
   &trans         &trans          &trans         &trans
   &trans         &trans          &trans         &trans
                        >;
                        trackball-bindings = <&tmv>;
                };
                mkp_layer {
                        bindings = <
   &trans         &trans          &trans         &trans
   &trans         &trans          &trans         &trans
                        >;
                        trackball-bindings = <&tmv>;
                };
                msl_layer {
                        bindings = <
   &trans         &trans          &trans         &trans
   &trans         &trans          &trans         &trans
                        >;
                        trackball-bindings = <&tsl_cus>;
                };
       };
};
