/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "sparklite.dtsi"

&kscan0 {
	col-gpios
		= <&gpio0 28 GPIO_ACTIVE_HIGH>
		, <&gpio0 29 GPIO_ACTIVE_HIGH>
		;
};

#include "sparklite_trackball.dtsi"

/* enable &pd0 on central. typical input device for zephyr input subsystem. */
/* NOTE 1: use the same device alias (&pd0) on central and peripheral(s) is alright. */
&pd0 {
  status = "okay";
  irq-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};

/ {
	/* define virtual input, will be resurrected for emitting input event */
	/* NOTE: set `device = <&pd1>` in `zmk,input-listener` */
	pd1: virtual_input {
		compatible = "zmk,virtual-input";
	};
};

/ {
	/* for central side, define (relay-channel)-to-(virtual-input) mapping */
	input_relay_config_102 {
		compatible = "zmk,split-peripheral-input-relay";
		
		/* channel id, used to filter incoming annotated input event from split peripheral */
		/* NOTE: should matching relay-channel on peripheral overlay */
		relay-channel = <102>;

		/* virtual input device on central, which used to emit input event as an agent device */
		device = <&pd1>;
	};
};

#define INPUT_EV_KEY 0x01               /**< Key event */
#define INPUT_EV_REL 0x02               /**< Relative coordinate event */
#define INPUT_EV_ABS 0x03               /**< Absolute coordinate event */
#define INPUT_EV_MSC 0x04               /**< Miscellaneous event */
#define INPUT_EV_VENDOR_START 0xf0      /**< Vendor specific event start */
#define INPUT_EV_VENDOR_STOP 0xff       /**< Vendor specific event stop */

#define INPUT_REL_X 0x00                /**< Relative X coordinate */
#define INPUT_REL_Y 0x01                /**< Relative Y coordinate */
#define INPUT_REL_WHEEL 0x08            /**< Relative wheel coordinate */
#define INPUT_REL_HWHEEL 0x06           /**< Relative horizontal wheel coordinate */
#define INPUT_REL_MISC 0x09             /**< Relative misc coordinate */

// &adc {
// 	status = "okay";
// };

// / {
// 	anin0: analog_input_0 {
// 		compatible = "zmk,analog-input";
// 		sampling-hz = <100>;
// 		x-ch {
// 			io-channels = <&adc 2>;
// 			mv-mid = <1630>;
// 			mv-min-max = <1600>;
// 			mv-deadzone = <10>;
// 			scale-multiplier = <1>;
// 			scale-divisor = <70>;
// 			invert;
// 			evt-type = <INPUT_EV_REL>;
// 			input-code = <INPUT_REL_X>;
// 		};
// 		y-ch {
// 			io-channels = <&adc 3>;
// 			mv-mid = <1630>;
// 			mv-min-max = <1600>;
// 			mv-deadzone = <10>;
// 			scale-multiplier = <1>;
// 			scale-divisor = <70>;
// 			invert;
// 			evt-type = <INPUT_EV_REL>;
// 			input-code = <INPUT_REL_Y>;
// 		};
// 	};
// };

// / {
// 	lra0: output_generic_0 {
// 		compatible = "zmk,output-generic";
// 		#binding-cells = <0>;
// 		control-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
// 	};
// };
