if SHIELD_DONBLE36_DONGLE || SHIELD_DONBLE36_DONGLX

config ZMK_KEYBOARD_NAME
    default "donble36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DONBLE36_LEFT || SHIELD_DONBLE36_RIGHT || SHIELD_DONBLE36_DONGLE || SHIELD_DONBLE36_DONGLX

config ZMK_SPLIT
    default y

endif

if SHIELD_DONBLE36_TBALL0 || SHIELD_DONBLE36_TBALL1 || SHIELD_DONBLE36_TBALL2 || SHIELD_DONBLE36_TBALL3 || SHIELD_DONBLE36_TPOINT0 || SHIELD_DONBLE36_TPAD0 || SHIELD_DONBLE36_MOU0 || SHIELD_DONBLE36_MOU1 || SHIELD_DONBLE36_MOU2

config ZMK_SPLIT
    default y

endif
