if SHIELD_PUNTERO34_LEFT

config ZMK_KEYBOARD_NAME
    default "puntero34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PUNTERO34_LEFT || SHIELD_PUNTERO34_RIGHT

config ZMK_SPLIT
    default y

endif
