if SHIELD_PMICRO34_LEFT

config ZMK_KEYBOARD_NAME
    default "pmicro34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PMICRO34_LEFT || SHIELD_PMICRO34_RIGHT

config ZMK_SPLIT
    default y

endif
