# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_PMICRO34_LEFT
	def_bool $(shields_list_contains,pmicro34_left)

config SHIELD_PMICRO34_RIGHT
	def_bool $(shields_list_contains,pmicro34_right)
