/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "pmicro34.dtsi"

&kscan0 {
	col-gpios
		= <&pro_micro 20 GPIO_ACTIVE_HIGH>
		, <&pro_micro 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
		, <&pro_micro 14 GPIO_ACTIVE_HIGH>
		;
};

#include "pmicro34_trackball.dtsi"

&pd0 {
  status = "okay";
  irq-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	evt-type = <INPUT_EV_REL>;
	x-input-code = <INPUT_REL_X>;
	y-input-code = <INPUT_REL_Y>;
	input-channel = <101>;
};

// / {
// 	/* Define virtual input, shall be resurrected for binding in input_channels */
// 	pd1: virtual_input {
// 		compatible = "zmk,virtual-input";
// 		input-channel = <102>;
// 	};
// 	/* Define (input-channel)-to-(virtual-device) mapping */
// 	input_channels {
// 		compatible = "zmk,input-channels";
// 		inch102 {
// 			/* input-channel defined in peripheral dts */
// 			input-channel = <102>;
// 			/* the virtual-input device, which will be resurrected on central */
// 			binding = <&pd1>;
// 		};
// 	};
// };

// / {
// 	lra0: haptic_generic_lra {
// 		compatible = "zmk,haptic-generic";
// 		#haptic-binding-cells = <0>;
// 		control-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
// 	};
// };
