if SHIELD_DONKI36_DONGLE || SHIELD_DONKI36_DONGLX

config ZMK_KEYBOARD_NAME
    default "donki36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DONKI36_LEFT || SHIELD_DONKI36_RIGHT || SHIELD_DONKI36_DONGLE || SHIELD_DONKI36_DONGLX

config ZMK_SPLIT
    default y

endif

if SHIELD_DONKI36_TBALL0 || SHIELD_DONKI36_TBALL1 || SHIELD_DONKI36_TBALL2 || SHIELD_DONKI36_TPOINT0 || SHIELD_DONKI36_TPAD0 || SHIELD_DONKI36_MOU0 || SHIELD_DONKI36_MOU1 || SHIELD_DONKI36_MOU2

config ZMK_SPLIT
    default y

endif
