/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
// #include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF 0
#define NUM 1
#define MSK 2
#define MSC 3

#ifndef MOVE_Y
#define MOVE_Y(n) (0)
#endif
#ifndef MOVE_X
#define MOVE_X(n) (0)
#endif

#define U_MOUSE_MOVE_MAX 1900
#define MOU_U MOVE_Y(-U_MOUSE_MOVE_MAX)
#define MOU_D MOVE_Y(U_MOUSE_MOVE_MAX)
#define MOU_L MOVE_X(-U_MOUSE_MOVE_MAX)
#define MOU_R MOVE_X(U_MOUSE_MOVE_MAX)

#define U_MOUSE_SCROLL_MAX 20
#define SCL_U MOVE_Y(U_MOUSE_SCROLL_MAX)
#define SCL_D MOVE_Y(-U_MOUSE_SCROLL_MAX)
#define SCL_L MOVE_X(-U_MOUSE_SCROLL_MAX)
#define SCL_R MOVE_X(U_MOUSE_SCROLL_MAX)

/ {
        behaviors {
                /omit-if-no-ref/ mmv: mmv_dummy {
                        compatible = "zmk,behavior-momentary-layer";
                        #binding-cells = <1>;
                };
                /omit-if-no-ref/ msc: msc_dummy {
                        compatible = "zmk,behavior-momentary-layer";
                        #binding-cells = <1>;
                };
        };

        tempo: key_tempo {
                compatible = "zmk,behavior-key-tempo";
                #binding-cells = <0>;
                usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
        };

        keymap {
                compatible = "zmk,keymap";
                DEF_layer {
//                       +--------------------------------+     +-----------------------------------+
//                       | ^MSK:ESC |    GUI   | CTRL:TAB |     |  ALT:ENT  |  _NUM:SPC | ^MSK:BKSP |
// +------------------------------------------------------+     +---------------------------------------------------------+
// |     Q    |     W    |     E    |     R    |     T    |     |     Y     |     U     |    I      |     O    |     P    |
// |     A    |     S    |     D    |     F    |     G    |     |     H     |     J     |    K      |     L    |   GUI ;: |
// |  SHFT Z  |     X    |     C    |     V    |     B    |     |     N     |     M     |   ALT ,<  |  CTRL .> |  SHFT /? |
// +------------------------------------------------------+     +---------------------------------------------------------+
                        bindings = <
                       &lt MSK ESC  &kp LGUI     &mt LCTRL TAB    &mt LALT RET   &lt NUM SPACE  &lt MSK BKSP  
   &kp Q        &kp W  &kp E        &kp R        &kp T            &kp Y          &kp U          &kp I           &kp O          &kp P
   &kp A        &kp S  &kp D        &kp F        &kp G            &kp H          &kp J          &kp K           &kp L          &mt LGUI SEMI
   &mt LSHFT Z  &kp X  &kp C        &kp V        &kp B            &kp N          &kp M          &mt RALT COMMA  &mt RCTRL DOT  &mt RSHFT FSLH
                        >;
                };
                NUM_layer {
//                        +-------------------------------+     +--------------------------------+
//                        |          |          |         |     |    (H)   |          |   ^MSK   |
// +------------------------------------------------------+     +-------------------------------------------------------+
// | LALT 1!  | LCTRL 2@  |    3#    |    4$    |    5%   |     |    6^    |    7&    |    8&    |  RCTRL 9( |  RALT 0) |
// | LGUI `~  |    ESC    |    {[    |    ]}    |   TAB   |     |    LFT   |   DWN    |    UP    |    RGT    |  RGUI '" |
// | SHFT TAB |           |          |          |   RET   |     |   BKSP   |    -_    |    =+    |    SPC    |  SHFT \| |
// +------------------------------------------------------+     +-------------------------------------------------------+
                        bindings = <
                                 &trans    &trans     &trans        &trans    &trans     &tog MSK
   &mt LALT N1     &mt LCTRL N2  &kp N3    &kp N4     &kp N5        &kp N6    &kp N7     &kp N8     &mt RCTRL N9  &mt RALT N0
   &mt LGUI GRAVE  &kp ESC       &kp LBKT  &kp RBKT   &kp TAB       &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT     &mt RGUI SQT
   &mt LSHFT TAB   &trans        &trans    &trans     &kp RET       &kp BKSP  &kp MINUS  &kp EQUAL  &kp SPACE     &mt RSHFT BSLH
                        >;
                };
                MSK_layer {
//                       +--------------------------------+     +--------------------------------+
//                       |          |          |          |     |          |          |   ^MSK   |
// +------------------------------------------------------+     +------------------------------------------------------+
// |    F1    |    F2    |    F3    |    F4    |    F5    |     |    F6    |    F7    |    F8    |    F9    |   F10    |
// | _MSC:F12 |   VOLD   |   VOLU   |   BRID   |   BRIU   |     |   MLFT   |   MDWN   |    MUP   |   MRGT   | _MSC:F11 |
// |    MB4   |   RCLK   |   MCLK   |   LCLK   |   ^MSC   |     |   ^MSC   |   LCLK   |   MCLK   |   RCLK   |   MB4    |
// +------------------------------------------------------+     +------------------------------------------------------+
                        bindings = <
                              &trans        &trans        &trans            &trans      &trans      &tog MSK
   &kp F1       &kp F2        &kp F3        &kp F4        &kp F5            &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
   &lt MSC F12  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRI_DN  &kp C_BRI_UP      &mmv MOU_L  &mmv MOU_D  &mmv MOU_U  &mmv MOU_R  &lt MSC F11
   &mkp MB4     &mkp RCLK     &mkp MCLK     &mkp LCLK     &tog MSC          &tog MSC    &mkp LCLK   &mkp MCLK   &mkp RCLK   &mkp MB4
                        >;
                };
                MSC_layer {

//                       +--------------------------------+     +--------------------------------+
// |                     |          |          |          |     |          |          |   ^MSK   |
// +------------------------------------------------------+     +------------------------------------------------------+
// |   TEMPO  |   BT_0   |   BT_1   |   BT_C   |   DFU    |     |    DFU   |   RESET  |          |          |  TEMPO   |
// |    (H)   |          |          |          |          |     |   SLFT   |   SDWN   |    SUP   |   SRGT   |   (H)    |
// |    MB4   |   RCLK   |   MCLK   |   LCLK   |   ^MSC   |     |   ^MSC   |   LCLK   |   MCLK   |   RCLK   |   MB4    |
// +------------------------------------------------------+     +------------------------------------------------------+
                        bindings = <
                           &trans        &trans        &trans            &trans        &trans      &tog MSK
   &tempo    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR    &bootloader       &bootloader   &sys_reset  &trans      &trans      &tempo
   &trans    &trans        &trans        &trans        &trans            &msc SCL_L    &msc SCL_D  &msc SCL_U  &msc SCL_R  &trans
   &mkp MB4  &mkp RCLK     &mkp MCLK     &mkp LCLK     &tog MSC          &tog MSC      &mkp LCLK   &mkp MCLK   &mkp RCLK   &mkp MB4
                        >;
                };
       };
};
