if SHIELD_CORNE36_LEFT || SHIELD_CORNE36_DONGLE

config ZMK_KEYBOARD_NAME
    default "corne36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE36_LEFT || SHIELD_CORNE36_RIGHT || SHIELD_CORNE36_DONGLE || SHIELD_CORNE36_DONGLEFT

config ZMK_SPLIT
    default y

endif

if SHIELD_CORNE36_TBALL0 || SHIELD_CORNE36_TBALL1 || SHIELD_CORNE36_TBALL2 || SHIELD_CORNE36_TPOINT0 || SHIELD_CORNE36_TPAD0 || SHIELD_CORNE36_MOU0 || SHIELD_CORNE36_MOU1

config ZMK_SPLIT
    default y

endif
