# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_NOLOGO_NANO33_BLE

config BOARD
    default "nologo_nana33_ble"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_NOLOGO_NANO33_BLE
